header
  width: 100%

  .header-burger
    display: flex
    margin-left: auto

.header
  display: flex
  padding: 10px 10px 0
  color: #767676
  justify-content: space-around

.logo
  max-height: 100px

.bacisInfo
  display: flex

.workinghour
  padding-right: 10px
  font-size: 14px

.login
  padding: 10px

.contactInfo
  padding-right: 10px
  font-size: 14px

button
  a
    text-transform : uppercase
    text-decoration: none
    color: white
