body {
  position: relative;
  /* padding-bottom: 120px; */
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  min-height: inherit;
  margin: 0 auto;
  font-family: 'Fjalla One Verdana Geneva sans-serif';
}

.MainWrapper {
  margin-bottom: 120px;
  padding-bottom: 30px;
}
/* header */

.header {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0;
  max-height: 100px;
  color: #767676;
}
.logo {
  max-height: inherit;
  flex: 30%;
}
.bacisInfo {
  display: flex;
  flex-direction: row;
  flex: 80%;
}
.workinghour {
  padding-right: 10px;
  font-size: 14px;
}
.language {
  padding: 10px;
}
.contactInfo {
  padding-right: 10px;
  font-size: 14px;
}
.menu {
  background: #c0c0c0;
  margin: 10px 0;
  max-width: 100%;
}
.menuList {
  width: 100vh;
  padding: 15px;
  text-transform : uppercase;
  list-style-type: none;
}
.menuList li {
  display: inline;
  margin: 15px ;

}
.menuList li a {
  color: black;
  text-decoration: none;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 7px;
}
.menuList li a:hover {
  border: 1px solid #1976D2;
  border-radius: 5px;
  background-color: #1976D2 ;
  padding: 7px;
  color: white;
  transition-duration: 0.4s;
}
button a {
  text-transform : uppercase;
  text-decoration: none;
  color: white;
}

/* Main */
.mainBoard {
  background-image: url("./images/roadtrip.jpeg") ;
  background-size: 100%;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: row; 
  min-height: 400px;
}

.mainBoardText {
  display: inline-block;
  text-align: left;
  /* min-width: 300px;
  max-width: 600px;
  min-height: 400px;
  max-height: 450px; */
  text-shadow: 0.5px 0.5px #767676;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 5%;
}
.rezervation {
  margin: 5%;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.4);
}
.carousel {
  width: 450px;
  
}

/* Cards */
.carsCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}
.cardStyle {
  max-width: 25%;
  border: 2px solid #767676;
  margin: 20px;
}
.cardStyle:hover {
  transform: scale(1.1);
}

/* Footer */
.FooterWrapper {
  width: 100%;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  background: #c0c0c0;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  
}
.PayInfo {
  padding: 0 15px 0 15px;
}
.PayInfo img {
  max-width: 50px;
}
.CallBack {
  padding: 0 15px 0 15px;
}
.ContactNumbers {
  padding: 0 15px 0 15px;
}