body {
  position: relative;
  /* padding-bottom: 120px; */
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  min-height: inherit;
  margin: 0 auto;
  font-family: 'Fjalla One Verdana Geneva sans-serif';
}

.MainWrapper {
  margin-bottom: 120px;
  padding-bottom: 30px;
}
/* header */


/* Main */
.mainBoard {
  background-image: url("./images/roadtrip.jpeg") ;
  background-size: 100%;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: row; 
  min-height: 400px;
}

.mainBoardText {
  display: inline-block;
  text-align: left;
  /* min-width: 300px;
  max-width: 600px;
  min-height: 400px;
  max-height: 450px; */
  text-shadow: 0.5px 0.5px #767676;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 5%;
}
.rezervation {
  margin: 5%;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.4);
}
.carousel {
  width: 450px;
  
}
.carsCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

/* Cards */
.cardStyle {
  max-width: 25%;
  border: 2px solid #767676;
  margin: 20px;
}
.cardStyle:hover {
  transform: scale(1.1);
}

/* Footer */
.FooterWrapper {
  width: 100%;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  background: #c0c0c0;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  
}
.PayInfo {
  padding: 0 15px 0 15px;
}
.PayInfo img {
  max-width: 50px;
}
.CallBack {
  padding: 0 15px 0 15px;
}
.ContactNumbers {
  padding: 0 15px 0 15px;
}